{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="contact-page my-3">
    <div class="">
      <h3>Contact us</h3>
      <form method="POST">
        {% csrf_token %}
        {{ contact_form | crispy }}
        {{ contact_form.field.captcha }}
        <button class="btn btn-warning" type="submit">Send</button>
      </form>
      <div class="my-3">Or</div>
      <p class="lead">Reach out on <a class="text-info" href="https://twitter.com/bradleys__">Twitter</a></p>
    </div>
  </div>
{% endblock %}