:root {
  --text-color: #08090a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  color: #434343;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
 
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #2C3E50;
  outline: 1px solid slategrey;
}

img {
  overflow-x: hidden;
}

/* header {
  box-shadow: 2px 3px 4px #ccc;
} */

header.navbar {
  padding: 7px 16px;
}

footer div p {
  margin: 0;
  padding: 0.5rem 0;
}

ul {
  margin: 0;
}

.title {
  font-size: 2.125rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.13em;
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
}

.content p > b > span {
  font-weight: 600;
}

.content p > span {
  font-size: 1.15rem;
  letter-spacing: 0.35px;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.base-layout {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr minmax(auto, 33%);
}

.module {
  width: 100%;
  margin: 0 0 0.5rem 0;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

.custom-text-color {
  color: var(--text-color);
}

.index-card {
  min-height: 13.5vh;
}

.share-container p {
  margin: 0;
  padding: 0;
}

.share-container > a > i {
  font-size: 1.35rem;
}

.share-container .facebook {
  color: #3b5998;
}

.share-container .twitter {
  color: #00acee;
}

.share-container .whatsapp {
  color: #075e54;
}

@media screen and (max-width: 1000px) {
  .base-layout {
    width: 100%;
    display: block;
  }

  .sidebar {
    display: none;
  }

  .index-card {
    min-height: 13.5vh;
  }

}