* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #434343;
  min-height: 100vh;
}

header {
  box-shadow: 4px 3px 2px #eee;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.base-layout {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr minmax(auto, 33%);
}

.bg-lightgrey {
  background-color: #999;
}

@media screen and (max-width: 1000px) {
  .base-layout {
    width: 100%;
    display: block;
  }

  .sidebar {
    display: none;
  }
}