<div class="card mt-3 mb-5 newsletter">
  <div class="card-header font-weight-bold">
    <div>Subscribe to Newsletter</div>
  </div>
  <div class="card-body">
    <form action="#">
      <div class="form-group">
        <!-- <label for="email">Email</label> -->
        <p class="lead">Get short & sweet Legal Principles delivered to your inbox every couple of days. No spam ever. Unsubscribe any time. Curated by the LLBQA team.</p>
        <input type="text" id="email" class="form-control" placeholder="Email here...">
      </div>
      <button class="btn btn-primary" type="submit">Subscribe</button>
    </form>
  </div>
</div>