<div class="card shadow-sm mb-5 tags">
  <div class="card-header font-weight-bold">
    <div>All Blog Topics</div>
  </div>
  <div class="card-body">
    {% if tags %}
      <ul class="d-flex flex-wrap list-unstyled">
        {% for tag in tags%}
          <li class="mr-2 my-1">
            <a class="text-decoration-none text-info" href="{% url 'blog-by-tag' tag.name %}">#{{ tag.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="small">No Tags</p>
    {% endif%}
  </div>
</div>